<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First page</title>
    <link rel="stylesheet" href="/public/css/home.css">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">VIRUSWEB</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/home">홈</a>
          <a class="p-2 text-dark" href="/board">게시판</a>
        </nav>
        <a href="/login">
          <button class="btn btn-outline-primary" type="button">로그인</button>
        </a>
    </div>
    <div class="slide-container">
        <div class="slides fade">
            <img src="/public/images/1.png" alt="광고이미지" style="width:100%">
        </div>
        <div class="slides fade">
            <img src="/public/images/2.png" alt="광고이미지2" style="width:100%">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <div class="content">
        <div class="notice">
            <h3>NOTICE</h3>
            <ul>
                <li><a href="#">[매크로검사] 파일 검사하러 가기 <span>2024.05.09</span></a></li>
            </ul>
        </div>
    </div>
    <script src="/public/js/Home.js"></script>
</body>
</html>
